<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>Vendor</string>
	<key>CFBundleExecutable</key>
	<string>Vendor</string>
	<key>CFBundleIdentifier</key>
	<string>Vendor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>Vendor</string>
	<key>CFBundleName</key>
	<string>Vendor</string>
	<key>CFBundlePackageType</key>
	<string>Vendor</string>
	<key>CFBundleShortVersionString</key>
	<string>Vendor</string>
	<key>CFBundleSignature</key>
	<string>Vendor</string>
	<key>CFBundleVersion</key>
	<string>Vendor</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Vendor</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Vendor</string>
	<key>NSCameraUsageDescription</key>
	<string>Vendor</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Vendor</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Vendor</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Vendor</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Vendor</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Vendor</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>Vendor</string>
		<string>Vendor</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Vendor</string>
	<key>UIMainStoryboardFile</key>
	<string>Vendor</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>Vendor</string>
		<string>Vendor</string>
		<string>Vendor</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>Vendor</string>
		<string>Vendor</string>
		<string>Vendor</string>
		<string>Vendor</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
            <dict>
                <key>UIApplicationSupportsMultipleScenes</key>
                <false/>
                <key>UISceneConfigurations</key>
                <dict>
                    <key>UIWindowSceneSessionRoleApplication</key>
                    <array>
                        <dict>
                            <key>UISceneClassName</key>
                            <string>Vendor</string>
                            <key>UISceneDelegateClassName</key>
                            <string>Vendor</string>
                            <key>UISceneConfigurationName</key>
                            <string>Vendor</string>
                            <key>UISceneStoryboardFile</key>
                            <string>Vendor</string>
                        </dict>
                    </array>
                </dict>
            </dict>
</dict>
</plist>
